extends ../layout

block content
  h1 Ainsley And Beyonce
    div.ainsley-beyonce-container
      div.row
        div.col-md-6.pull-left
          img(src="/ainsley/beyonce-hi.gif" height="290px")
        div.col-md-6.pull-right
          img(src="/ainsley/beyonce-super.gif" height="290px")
      div.row
        div.col-md-6.pull-left
          iframe(width="435" height="290" src="//www.youtube.com/embed/KOwOzlv9qAc?rel=0" frameborder="0" allowfullscreen="true")
        div.col-md-6.pull-right
          img(src="/ainsley/ainsley-fan.jpg" height="290px")
      div.row
        div.col-md-12
          img(src="/ainsley/beyonce-cal.jpg" width="100%")

