extends ../layout

block content
  h1 Coqui Ainsley
  div.row
    iframe(src="//slides.com/mrmaksimize/coqui-ainsley/embed" width="100%" height="520" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
